#indexbody {
  background-color: white;
}

#indexheader {
    display: grid;
    grid-template-columns: 1fr 6fr 8fr;
    grid-template-rows: 1fr;
    border: solid 1px #000000;
    justify-items: center;
    align-items: center;
    padding: 0%;
    margin: 0%
}

#indexp {
    color: black;
}

#indexlink {
    text-decoration: none;
    color: black;
}

#indexnav {
    font-size: medium;
    display:grid;
    grid-template-rows: 1fr 1fr;
    text-decoration: none;
    justify-items: center;
    align-items: center;
}
